//
// Override Bootstrap Button Classes
// --------------------------------------------------


.btn-default {
    background-color: @white;
    border-color: @d-grey;
    color: @key;
    &:hover, 
    &:focus, 
    &:active, 
    &.active {
        background-color: @d-grey;
        border-color: @d-grey;
        // color: @white;
        color: @gold;
    }
}

.btn-primary {
    background-color: @blue;                    //#428bca
    border-color: darken(@blue, 5%);            //#357ebd
    color: @white;
    &:hover, 
    &:focus, 
    &:active, 
    &.active {
        background-color: darken(@blue, 5%);    //#3071a9
        border-color: darken(@blue, 10%);       //#285e8e
        color: @white;
    }
}
.btn-success {
    background-color: @green;                   //#428bca
    border-color: darken(@green, 5%);           //#357ebd
    color: @white;
    &:hover, 
    &:focus, 
    &:active, 
    &.active {
        background-color: darken(@green, 5%);   //#3071a9
        border-color: darken(@green, 10%);      //#285e8e
        color: @white;
    }
}
.btn-info {
    background-color: @teal;                   //#5bc0de
    border-color: darken(@teal, 5%);           //#46b8da
    color: @white;
    &:hover, 
    &:focus, 
    &:active, 
    &.active {
        background-color: darken(@teal, 5%);   //#31b0d5
        border-color: darken(@teal, 10%);      //#269abc
        color: @white;
    }
}
.btn-warning {
    background-color: @yellow;                   //#f0ad4e
    border-color: darken(@yellow, 5%);           //#eea236
    color: @white;
    &:hover, 
    &:focus, 
    &:active, 
    &.active {
        background-color: darken(@yellow, 5%);   //#ec971f
        border-color: darken(@yellow, 10%);      //#d58512
        color: @white;
    }
}
.btn-danger {
    background-color: @red;                     //#d9534f
    border-color: darken(@red, 5%);             //#d43f3a
    color: @white;
    &:hover, 
    &:focus, 
    &:active, 
    &.active {
        background-color: darken(@red, 5%);     //#c9302c
        border-color: darken(@red, 10%);        //#ac2925
        color: @white;
    }
}